:root {
    background-color: black;
}

#Welcome {
    display: flex;
    color: white;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}

#Next-page:hover {
    color: #ff0000;
    text-decoration: none;
}